/* stylelint-disable */

@import '~theme/index';
// 文章内容
#content,
.lake-content-editor {
  // 锚文本
  .lake-anchor-button {
    .dark-mode-background-base-with-hover;
    .dark-mode-text-color-second-with-hover;
  }

  .dark-mode-text-color-base;

  .lake-list,
  .lake-list-task {
    .dark-mode-text-color-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: @dark-mode-text-color-base !important;
  }

  h2 {
    border-bottom-color: @dark-mode-border-color-light;
  }

  // 分割线
  [data-lake-card='hr'] hr {
    background-color: @dark-mode-border-color-light !important;
  }

  // 文本链接
  a {
    .dark-mode-link-color;
  }

  .lake-doc-card-view-box {
    .dark-mode-card-dark;
    &:hover {
      background: @dark-mode-background-dark-hover;
    }
    .lake-doc-card-view-title {
      color: @dark-mode-text-color-base;
    }
  }
  [data-card-element='center'] {
    border: none !important;
  }

  // 信息块
  .lake-alert {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #262626 !important;
    }
  }
  .lake-alert-info {
    background: @dark-mode-block-background-info !important;
  }
  .lake-alert-success {
    background: @dark-mode-block-background-success !important;
  }
  .lake-alert-danger {
    background: @dark-mode-block-background-error !important;
  }
  .lake-alert-warning {
    background: @dark-mode-block-background-warning !important;
  }
  .lake-alert-tips {
    background: @dark-mode-block-background-tips !important;
  }

  // 代码块
  .lake-codeblock {
    .no-border;
  }
  .lake-codeblock-content {
    .dark-mode-background-light;
  }

  // checkbox
  .lake-checkbox-inner {
    .dark-mode-background-light;
    .dark-mode-border-color-light;
  }
  .lake-checkbox-checked {
    .lake-checkbox-inner {
      background: @dark-mode-yuque-brand-color !important;
      border-color: @dark-mode-yuque-brand-color !important;
    }
  }

  // 引用卡片
  .lake-embed-mask {
    .doc-embed-content-container {
      .dark-mode-background-light;
    }
  }
}

[class*='BookReader-module_content'] {
  #footer {
    .dark-mode-background-base;
  }
}

.lake-engine .CodeMirror-gutters,
.lake-engine-view .CodeMirror-gutters {
  .dark-mode-background-light;
}
.lake-codeblock-header {
  .dark-mode-border-bottom-color-light;
}
