@import '../token/index';
// 文章内容
#content {
  .dark-mode-base-text;


  h1,
  h2,
  h3 {
    color: @dark-mode-text-color-base !important;
  }

  h2 {
    border-bottom-color: @dark-mode-border-color-light;
  }

  // 分割线
  [data-lake-card='hr'] hr {
    background-color: @dark-mode-border-color-light !important;
  }
  // 图片变暗 80%
  .lake-image-meta {
    .dark-mode-image;
  }

  // 文本链接
  a {
    .dark-mode-link-color;
  }

  .lake-doc-card-view-box {
    .dark-mode-card-dark;
    &:hover {
      background: @dark-mode-background-dark-hover;
    }
    .lake-doc-card-view-title {
      color: @dark-mode-text-color-base;
    }
  }
  [data-card-element='center'] {
    border: none !important;
  }
}
