@import '~theme/index';
// 头部

.header-crumb .doc-title {
  color: @dark-mode-text-color-emphasize !important;
}

.book-name-text,
.ant-breadcrumb-link {
  color: @dark-mode-text-color-base !important;
  &:hover {
    color: @dark-mode-text-color-base-hover !important;
  }
}

// 头部
.header {
  background: @dark-mode-background-base !important;
  border-bottom-color: @dark-mode-border-color-dark !important;
  box-shadow: 0 2px 4px @dark-mode-shadow-color !important;

  [data-testid='present-btn'] {
    color: @dark-mode-text-color-emphasize !important;
  }

  .larkui-input-search {
    background: @dark-mode-background-light;
    .ant-input {
      background: @dark-mode-background-light !important;
    }
  }

  .header-nav-item {
    color: @dark-mode-text-color-base !important;
  }

  span[class^='ant-input-affix-wrapper larkui-input-search ant-dropdown-trigger index-module_input'] {
    border-color: @dark-mode-border-color-dark !important;
    .ant-input {
      &::placeholder {
        color: @dark-mode-text-color-second !important;
      }
    }
  }
}

div[class^='ViewerHeader-module_logoWrapperActive'] {
  &:hover {
    background: @dark-mode-background-dark !important;
  }
}
