@yuque-hue-tone: 146;
@yuque-brand-color: hsl(@yuque-hue-tone, 67%, 43%);
@yuque-brand-color-hover: hsl(@yuque-hue-tone, 51%, 52%);

@yuque-brand-color-dark: darken(@yuque-brand-color, 20%);
@yuque-brand-color-light: hsl(@yuque-hue-tone, 49%, 85%);

@dark-mode-yuque-brand-color-dark: darken(@yuque-brand-color, 30%);
@dark-mode-yuque-brand-color-light: hsl(@yuque-hue-tone, 10%, 50%);
