@yuque-brand-color: #25b864;
@yuque-brand-color-hover: #47c479;

@yuque-brand-color-dark: darken(@yuque-brand-color, 20%);
@yuque-brand-color-light: #c5ebd0;

@dark-mode-yuque-brand-color: darken(@yuque-brand-color, 15%);
@dark-mode-yuque-brand-color-hover: darken(@yuque-brand-color-hover, 15%);

@base-tone: 4%;
@base-hue: 240;

@dark-mode-background-base: hsl(@base-hue, @base-tone, 15%);
// 面板
@dark-mode-background-lighter: hsl(@base-hue, @base-tone, 22%);
@dark-mode-background-lighter-hover: hsl(@base-hue, @base-tone, 28%);
@dark-mode-background-light: hsl(@base-hue, @base-tone, 20%);
@dark-mode-background-light-hover: hsl(@base-hue, @base-tone, 25%);
@dark-mode-background-dark: hsl(@base-hue, @base-tone, 12%);
@dark-mode-background-dark-hover: hsl(@base-hue, @base-tone, 14%);
@dark-mode-background-darker: hsl(@base-hue, @base-tone, 5%);

// 阴影
@dark-mode-shadow-color: hsla(@base-hue, @base-tone, 5%, 0.1);

@dark-mode-text-color-emphasize: white;

@dark-mode-text-color-base: hsl(@base-hue, 3%, 65%);
@dark-mode-text-color-base-hover: hsl(@base-hue, 8%, 75%);
@dark-mode-text-color-second: hsl(@base-hue, 1%, 40%);

@dark-mode-border-color-base: hsl(@base-hue, 7%, 17%);
@dark-mode-border-color-light: hsl(@base-hue, 2%, 25%);
@dark-mode-border-color-dark: hsl(@base-hue, 14%, 15%);
@dark-mode-border-color-darker: hsl(@base-hue, 14%, 12%);

@dark-mode-link-color: #4da3ff;
@dark-mode-link-color-active: #80b7ff;
