@import '~theme/token/index';

.button {
  position: fixed;
  bottom: 8px;
  right: 24px;

  width: 32px;
  height: 32px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

[theme='light'] {
  .button {
  }
}

[theme='dark'] {
  .button {
    .dark-mode-button-default-in-base;
  }
}
