@import '~theme/index';

.container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}
.bar {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
}
.input {
  .search-bar-shadow;
  border-radius: 4px;
  background: @background-color-base;
}
.result {
  margin-top: 8px;
  max-height: 400px;
  overflow-y: scroll;
  .search-bar-shadow;

  border-radius: 4px;
}
[theme='light'] {
  .result {
    background: white;
  }
}

[theme='dark'] {
  .result {
    background: @dark-mode-background-light;
  }
}
