@import '../token/index';
.lake-content-editor,
.lake-engine {
  background: @dark-mode-background-light !important;
}

.lake-mini-editor {
  border-color: @dark-mode-border-color-dark !important;
}

.lake-button {
  &:hover {
    background: @dark-mode-background-light !important;
  }
}

.comments-form-wrapper {
  .ant-btn {
    .dark-mode-button-default-in-base;
  }

  .dark-mode-button-disable-in-base;
}
